<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boominator 3000</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>pLeasure of untergrund listening</h1>
        <div class="tolpe">
            <ul>
                {{range .Tolpe}}
                    <iframe seamless="" src="{{.}}" style="border: 0; width: 100%; min-height: 350px;"></iframe>
                {{end}}
            </ul>

        </div>

    </body>
</html>
